<form class="container text-center">
    <div class="form-group">
      <label for="exampleInputEmail1">Titulo de la publicación</label>
      <div class="mx-auto" style="max-width: 50%;"> 
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escriba el título de la publicación...">
      </div>
    </div>
    <label for="libros">Libro</label>
    <div class="form-group mx-auto" id="libros" style="max-width: 50%;">
        <app-seleccion></app-seleccion>
    </div>
    <div class="form-group mx-auto" style="max-width: 50%;">
        <label for="resenia">Opinión</label>
        <textarea class="form-control" rows="3" id="resenia" placeholder="Escriba su opinión..."></textarea>
    </div>
    <div class="form-group">
        <app-puntaje id="puntuacion" [seleccionable]="true"></app-puntaje>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
  